@import '~bootstrap/scss/bootstrap';
.row {
  margin-left: -10px;
  margin-right: -10px;
}
div[class*='col'],
.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}
.totalCart {
  position: absolute;
  top: 10px;
  background: #fff;
  font-size: 10px;
  color: #000;
  padding: 0px 5px;
  border-radius: 10px;
}
